body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%vh;
}

.background {
  width: 144px;
  height: 144px;
  background: linear-gradient(90deg, rgba(147,9,220,1) 0%, rgba(126,6,187,1) 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  animation: 0.75s ease-in-out 0s backgroundEnter;
}

.square1 {
  height: 36px;
  width: 36px;
  border: 8px solid rgba(255,255,255,0.70) ;
  border-radius: 4px;
  position: relative;
  left: 50%;
  transform: translateX(-90%) rotate(45deg) scale(0);;
  animation: 1s ease-in-out 0.75s square1Animation forwards;
}

.square2 {
  height: 50px;
  width: 50px;
  border-radius: 4px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%) rotate(45deg) scale(0);
  box-shadow: inset;
  box-shadow: -5px -1px 9px -1px rgba(0,0,0,0.51);
  animation: 1s ease-in-out 0.75s square2Animation forwards;
}

@keyframes backgroundEnter {
  from {
    opacity: 0;
    transform: scale(0);
  } to {
    opacity: 1;
  }
}

@keyframes square1Animation {
  0% {
    transform: translateX(-90%)  rotate(45deg) scale(0);
  }
  50% {
    transform: translateX(-90%) rotate(45deg) scale(1);
  }
  100% {
    transform:  translateX(-110%) rotate(45deg);
  }
}

@keyframes square2Animation {
  0% {
    transform: translateX(-50%) rotate(45deg) scale(0);;
  } 
  50% {
    transform: translateX(-50%) rotate(45deg) scale(1);
  }
  100% {
     transform: translateX(-25%) rotate(45deg);
  }
}

